/* 
    Document   : style
    Created on : 19/09/2013, 09:06:43 PM
    Author     : Juan Ramos

*/
@font-face {
    font-family: 'juanFont';
    src: url('fonts/juanFont.eot');
    src: url('fonts/juanFont.eot?#iefix') format('embedded-opentype'), url('fonts/juanFont.woff') format('woff'), url('fonts/juanFont.ttf') format('truetype'), url('fonts/juanFont.svg#juanFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'juanFont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
    content: "\e600";
}

.icon-cogs:before {
    content: "\e601";
}

.icon-cog2:before {
    content: "\e602";
}

.icon-github:before {
    content: "\e603";
}

.icon-pinterest:before {
    content: "\e604";
}

.icon-linkedin:before {
    content: "\e605";
}

.icon-tux:before {
    content: "\e606";
}

.icon-facebook:before {
    content: "\e607";
}

.icon-pencil:before {
    content: "\e608";
}

.icon-phone:before {
    content: "\e609";
}

.icon-wand:before {
    content: "\e60a";
}

.icon-wrench:before {
    content: "\e60b";
}

.icon-bars:before {
    content: "\e60c";
}

.icon-stats:before {
    content: "\e60d";
}

.icon-hammer:before {
    content: "\e60e";
}

.icon-address-book:before {
    content: "\e60f";
}

.icon-pie:before {
    content: "\e610";
}

.icon-briefcase:before {
    content: "\e611";
}

.icon-menu:before {
    content: "\e612";
}

.icon-google-plus:before {
    content: "\e613";
}

.icon-twitter:before {
    content: "\e614";
}

.icon-github2:before {
    content: "\e615";
}

.icon-html5:before {
    content: "\e616";
}

.icon-css3:before {
    content: "\e617";
}

.icon-mug:before {
    content: "\e618";
}

.icon-lab:before {
    content: "\e619";
}

.icon-cabinet:before {
    content: "\e61a";
}

.icon-calendar:before {
    content: "\e61b";
}

.icon-location:before {
    content: "\e61c";
}

.icon-headphones:before {
    content: "\e61d";
}

.icon-spades:before {
    content: "\e61e";
}

.icon-console:before {
    content: "\e61f";
}

.icon-twitter:before {
    content: "\e622";
}

.icon-twitter2:before {
    content: "\e623";
}

.icon-brush:before {
    content: "\e620";
}

.icon-tools:before {
    content: "\e621";
}

::selection {
    background: #b8575a;
}
a {
    text-decoration: none
}

body {
    background: #ecedef;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*=================================================================
header
===================================================================*/
h1 {
    color: #d36a6d;
    font-size: 2em;
    font-style: italic;
    font-weight: 900;
    margin: -10px 0 30px
}
h1:hover{
    color: #d36a6d;
}


svg:hover #head {
    fill: #b8575a;
    stroke: #9a494c;
}
#head {
    fill: #CF7679;
    stroke: #9a494c;
    cursor: pointer;
}
#end_i, #end_d, .cd, .ci {
    fill: #fafafa;
}
#logo{
    margin: 0 auto ;
    text-align: center;
    width: 346px
}
#start_i, #shoes_b_i, #sole_c_i, #pc_i {
    fill: #d36a6d;
}

#shoes_b_d, #sole_c_d, #start_d,#pc_d {
    fill: #4a79ad;
}

#top_i, .hi {
    fill: #b8575a;
}

#top_d, .hd {
    fill: #386290;
}


/*=================================================================
nav
===================================================================*/
nav {
    background: #fff;
    font-size: 1em;
    min-width: 100%;
    text-align: center;
}

nav a {
    color: rgb(239, 140, 140);
    font-size: 1.1em;
    display: inline-block;
    margin: .7em;
}
nav a p{
    color: rgb(126, 126, 126);
    margin: 4px 0;
    font-size: .85rem;
}
nav a:hover,.current, .current p{
    color: #4a79ad;
}
nav a:hover p{
    color: #4a79ad;
}

#diseno,#desarrollo,#mercadeo,#metodologia-trabajo,#destrezas,#portafolio,#contacto {

    box-sizing: border-box;
    min-width: 100%;
    height: 39.5em;
    margin: 0;
    padding: 10px;

}

/*=================================================================
juan2ramos
===================================================================*/
#juan2ramos {
    background:url('../img/bg-about.jpg') #ecedef center top fixed no-repeat;
    background-size:100% auto;
    padding: 10px;
}
#juan2ramos .wrapper-p{
    color: #264363;
    display: inline-block;
    max-width: 680px;
    text-align: justify;
}
.contend-juan2ramos{
    color: #264363;
    font-size: .95em;
    margin: 60px auto;
    width: 960px;
}
#juan2ramos h2{
    font-size: 2em;
    margin: 0;
}
#juan2ramos p{
    font-family:  'Open Sans',sans-serif;
    line-height: 1.7em;
}
.network a{
    font-size: 1.25em;
    padding: 10px;
    margin-right: 3px;
}
.network li{
    display: inline-block;
}
.network a:hover{
    background: rgb(239, 140, 140);
    border-color: rgb(209, 117, 117);
}
.data{
    display: inline-block;
    vertical-align: top;
    padding: 12px 25px;
}
.data .info li span, .network a{
    background: #4a79ad;
    border-left:3px solid  #325780;
    color: #fff;
    display: inline-block;
    padding: 8px;
}
.data .info li{
    margin: 7px 0;
}
.data-info{
    background: rgba(165, 195, 228, 0.5);
    display: inline-block;
    padding: 5px 5px;
    margin-left:-3px
}
.data-info a{
    color: #264363;
}
.data-info a:hover{
    color: rgb(239, 140, 140);
}
.info-1{width: 130px}
.info-2{width: 151px}
.info-4{width: 156px}
.info-5{width: 129px}
#diseno{
    background: #FCD106;
}
#desarrollo{
    background: #FC3100;
}
#mercadeo{
    background: #fc73d4;
}
#metodologia-trabajo{
    background: #4efcd9;
}
#destrezas{
    background: #0759ee;
}
#portafolio{
    background: #41fc3d;
}
#contacto{
    background: #FCD106;
}
/*=================================================================
menu-fixed
===================================================================*/
.menu-fixed nav{
    position: fixed;
    top: 0;
    z-index: 100;
}
.menu-fixed #logo{
    margin-bottom:90px
}
/*==========================================================================
Media Queries Tablet
========================================================================== */
